Repository EasyNuget/CacheManager, changes with the labels that .github/labeler.yml gives for each.
All labels: load-test, unit-test, integration-test, cache-source

.github/labeler.yml:

"load-test":
  - "CacheManagerLoadTest/**"
"unit-test":
  - "CacheManagerUnitTest/**"
"integration-test":
  - "CacheManagerIntegrationTest/**"
"cache-source":
  - "CacheSource/**"

update dotnet.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet.yml
Labels: none

fix: remove codeql
  .github/workflows/dotnet.yml
  CacheManager.sln
Labels: none

chore: update to new version
  CacheManager.csproj
Labels: none

docs: add CONTRIBUTORS
  CONTRIBUTORS.md
  CacheManager.sln
  README.md
Labels: none

feat: seprate redis and db to other package
  .github/pull_request_template.md
  CacheManager.Database/CacheManager.Database.csproj
  CacheManager.Database/CacheSource/DbCacheSourceWithGet.cs
  CacheManager.Database/Config/DbConfig.cs
  CacheManager.Database/DbCacheBuilder.cs
  CacheManager.Redis/CacheManager.Redis.csproj
  CacheManager.Redis/CacheSource/RedisCacheSource.cs
  CacheManager.Redis/Config/RedisConfig.cs
  CacheManager.Redis/RedisCacheBuilder.cs
  CacheManager.csproj
  CacheManager.sln
  CacheManager.sln.DotSettings.user
  CacheManager/CacheBuilder.cs
  CacheManager/CacheManager.csproj
  CacheManager/CacheManager.csproj.DotSettings.user
  CacheManager/CacheManager.csproj.user
  CacheManager/CacheSource/ApiCacheSourceWithGet.cs
  CacheManager/CacheSource/ICacheSourceBase.cs
  CacheManager/CacheSource/ICacheSourceWithGet.cs
  CacheManager/CacheSource/ICacheSourceWithGetWithClear.cs
  CacheManager/CacheSource/ICacheSourceWithGetWithSet.cs
  CacheManager/CacheSource/ICacheSourceWithGetWithSetAndClear.cs
  CacheManager/CacheSource/MemoryCacheSource.cs
  CacheManager/Config/ApiConfig.cs
  CacheManager/Config/ApiType.cs
  CacheManager/Config/LockConfig.cs
  CacheManager/Config/MemoryConfig.cs
  CacheManager/EasyCacheManager.cs
  CacheManager/IEasyCacheManager.cs
  CacheManager/MHKarami97.snk
  CacheManager/Resources.Designer.cs
  CacheManager/Resources.resx
  CacheManagerIntegrationTest/CacheManagerIntegrationTest.csproj
  CacheManagerIntegrationTest/EasyCacheManagerTests.cs
  CacheManagerLoadTest/CacheManagerLoadTest.csproj
  CacheManagerLoadTest/EasyCacheManagerLoadTest.cs
  CacheManagerUnitTest/CacheManagerUnitTest.csproj
  README.md
Labels: load-test, unit-test, integration-test

feat: move api to other nuget package
  CacheManager.Redis/CacheManager.Redis.csproj
  CacheManager.sln
  CacheManager/CacheBuilder.cs
  CacheManager/CacheManager.csproj
  CacheManagerApi/ApiCacheBuilder.cs
  CacheManagerApi/CacheManagerApi.csproj
  CacheManagerApi/CacheSource/ApiCacheSourceWithGet.cs
  CacheManagerApi/Config/ApiConfig.cs
  CacheManagerApi/Config/ApiType.cs
  CacheManagerIntegrationTest/CacheManagerIntegrationTest.csproj
  CacheManagerIntegrationTest/EasyCacheManagerTests.cs
  CacheManagerLoadTest/CacheManagerLoadTest.csproj
  CacheManagerLoadTest/EasyCacheManagerLoadTest.cs
  CacheManagerUnitTest/CacheManagerUnitTest.csproj
  README.md
Labels: load-test, unit-test, integration-test

docs: update docs
  README.md
Labels: none

feat: add ClearAllCacheAsync, add clear event packages
  .gitignore
  CacheManager.Database/CacheManager.Database.csproj
  CacheManager.Redis/CacheManager.Redis.csproj
  CacheManager.sln
  CacheManager/EasyCacheManager.cs
  CacheManager/IEasyCacheManager.cs
  CacheManagerApi/CacheManagerApi.csproj
  CacheManagerClear.Kafka/CacheManagerClear.Kafka.csproj
  CacheManagerClear.Kafka/CachePublisher.cs
  CacheManagerClear.Kafka/CacheSubscriber.cs
  CacheManagerClear.Kafka/KafkaCacheClearBuilder.cs
  CacheManagerClear.Rabbit/CacheManagerClear.Rabbit.csproj
  CacheManagerClear.Rabbit/CachePublisher.cs
  CacheManagerClear.Rabbit/CacheSubscriber.cs
  CacheManagerClear.Rabbit/RabbitCacheClearBuilder.cs
  CacheManagerClear.Redis/CacheManagerClear.Redis.csproj
  CacheManagerClear.Redis/CachePublisher.cs
  CacheManagerClear.Redis/CacheSubscriber.cs
  CacheManagerClear.Redis/RedisCacheClearBuilder.cs
  CacheManagerClear/CacheManagerClear.csproj
  CacheManagerClear/CacheManagerClearBuilder.cs
  CacheManagerClear/CacheSubscriber.cs
  CacheManagerClear/ICachePublisher.cs
  CacheManagerClear/StaticData.cs
  CacheManagerIntegrationTest/CacheManagerIntegrationTest.csproj
  CacheManagerLoadTest/CacheManagerLoadTest.csproj
  CacheManagerUnitTest/CacheManagerUnitTest.csproj
  README.md
Labels: load-test, unit-test, integration-test

feat: move clear all to ICacheSourceWithGetWithClear
  CacheManager.Redis/CacheSource/RedisCacheSource.cs
  CacheManager/CacheSource/ICacheSourceWithGetWithClear.cs
  CacheManager/CacheSource/MemoryCacheSource.cs
  CacheManager/EasyCacheManager.cs
Labels: none

feat: add db provider with set and clear, rename Database to SqlServer
  CacheManager.Database/DbCacheBuilder.cs
  CacheManager.SqlServer/CacheManager.SqlServer.csproj
  CacheManager.SqlServer/CacheSource/SqlServerDbCacheSourceWithGet.cs
  CacheManager.SqlServer/CacheSource/SqlServerDbCacheSourceWithGetWithSetAndClear.cs
  CacheManager.SqlServer/Config/DbConfig.cs
  CacheManager.SqlServer/Config/DbWithSetAndClearConfig.cs
  CacheManager.SqlServer/SqlServerDbCacheBuilder.cs
  CacheManager.sln
  CacheManager/Resources.Designer.cs
  CacheManager/Resources.resx
  CacheManagerIntegrationTest/CacheManagerIntegrationTest.csproj
  CacheManagerIntegrationTest/EasyCacheManagerTests.cs
  CacheManagerLoadTest/CacheManagerLoadTest.csproj
  CacheManagerLoadTest/EasyCacheManagerLoadTest.cs
  CacheManagerUnitTest/CacheManagerUnitTest.csproj
  README.md
Labels: load-test, unit-test, integration-test

Update README.md
  README.md
Labels: none

fix: bug on sql builder
  CacheManager.SqlServer/SqlServerDbCacheBuilder.cs
Labels: none

feat: add stop async to provider, try add tests
  .editorConfig
  CacheManager.Redis/CacheSource/RedisCacheSource.cs
  CacheManager.SqlServer/CacheSource/SqlServerDbCacheSourceWithGet.cs
  CacheManager.SqlServer/CacheSource/SqlServerDbCacheSourceWithGetWithSetAndClear.cs
  CacheManager/CacheSource/ICacheSourceBase.cs
  CacheManager/CacheSource/MemoryCacheSource.cs
  CacheManager/EasyCacheManager.cs
  CacheManagerApi/CacheSource/ApiCacheSourceWithGet.cs
  CacheManagerClear.Kafka/CachePublisher.cs
  CacheManagerClear.Kafka/CacheSubscriber.cs
  CacheManagerClear.Rabbit/CachePublisher.cs
  CacheManagerClear.Rabbit/CacheSubscriber.cs
  CacheManagerClear.Redis/CachePublisher.cs
  CacheManagerClear.Redis/CacheSubscriber.cs
  CacheManagerClear/CacheManagerClear.csproj
  CacheManagerClear/CacheSubscriber.cs
  CacheManagerClear/ICachePublisher.cs
  CacheManagerClear/ICacheSubscriber.cs
  CacheManagerClear/Resources.Designer.cs
  CacheManagerClear/Resources.resx
  CacheManagerUnitTest/EasyCacheManagerClearKafkaTests.cs
  CacheManagerUnitTest/EasyCacheManagerClearTests.cs
  CacheManagerUnitTest/StaticData.cs
Labels: unit-test

feat: add stopAsync method, add tests
  CacheManager/EasyCacheManager.cs
  CacheManager/IEasyCacheManager.cs
  CacheManagerUnitTest/EasyCacheManagerClearKafkaTests.cs
  CacheManagerUnitTest/EasyCacheManagerTests.cs
Labels: unit-test

fix: bug on stop agents
  CacheManager/EasyCacheManager.cs
  CacheManagerClear.Kafka/CachePublisher.cs
  CacheManagerClear.Kafka/CacheSubscriber.cs
  CacheManagerUnitTest/EasyCacheManagerClearKafkaTests.cs
Labels: unit-test

fix: bug on cleaner
  CacheManagerClear.Rabbit/CachePublisher.cs
  CacheManagerClear.Rabbit/CacheSubscriber.cs
  CacheManagerClear.Rabbit/RabbitCacheClearBuilder.cs
  CacheManagerClear.Redis/CachePublisher.cs
  CacheManagerClear.Redis/CacheSubscriber.cs
  CacheManagerUnitTest/StaticData.cs
Labels: unit-test

Bump AsyncKeyedLock to 7.1.6
  CacheManager/CacheManager.csproj
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix: remove MaxCount from async lock config
  CacheManager.Redis/CacheSource/RedisCacheSource.cs
  CacheManager/CacheManager.csproj
  CacheManager/CacheSource/ICacheSourceBase.cs
  CacheManager/CacheSource/ICacheSourceWithGet.cs
  CacheManager/CacheSource/ICacheSourceWithGetWithClear.cs
  CacheManager/CacheSource/ICacheSourceWithGetWithSet.cs
  CacheManager/Config/LockConfig.cs
  CacheManager/EasyCacheManager.cs
  CacheManager/IEasyCacheManager.cs
  CacheManagerClear/ICachePublisher.cs
  CacheManagerClear/ICacheSubscriber.cs
  CacheManagerUnitTest/EasyCacheManagerTests.cs
Labels: unit-test
